<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>225748921499-gdnktk37ptp051aa9nbvo9pi0eqcn0bt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.225748921499-gdnktk37ptp051aa9nbvo9pi0eqcn0bt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>225748921499-8vbuuhdlkveknrpvsaukcnuvk8h42cop.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD4ZtmU4k6jbaTZ0RwmxugkKXYNxwkdcdM</string>
	<key>GCM_SENDER_ID</key>
	<string>225748921499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.fahemBusiness</string>
	<key>PROJECT_ID</key>
	<string>fahem-9ad2c</string>
	<key>STORAGE_BUCKET</key>
	<string>fahem-9ad2c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225748921499:ios:fa4d1dc0d20bd6596a2a3e</string>
	<key>DATABASE_URL</key>
	<string>https://fahem-9ad2c-default-rtdb.firebaseio.com</string>
</dict>
</plist>